h1
{
    color: rgb(64,224,208);
}

body
{
    background-color: rgb(37, 37, 37);
    display: list-item;
    margin: 20px; 

}

.background 
{
  border: 1px solid black;
  border-radius: 10px;
  
}

div.contents ul
{  
    font-family: "courier,arial,helvetica";
    font-weight: bold;
    font-size: 25px;
    color: lightblue;
}


div.contents ol
{
    color: white;
    font-size: 18px;
   
}
a.ggllink
{
    color:green;
}
a.appllink
{
    color:grey;
}
p
{
    color:white;
    font-weight: normal;
    font-size:18px;
}
